<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
<h1>Genres</h1>

<%= link_to 'Links', '/links' %>
<%= link_to 'New Genre', new_genre_path %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @genre.each do |genre| %>
    <tr>
      <td><%= genre.name %></td>
      <td><%= link_to 'Show', genre_path(genre) %></td>
      <td><%= link_to 'Edit', edit_genre_path(genre) %></td>
      <td><%= button_to 'Delete', genre_path(genre), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table><%= will_paginate @genre %>
</body>
</html>