<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
<h1>Libraries</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @library.each do |library| %>
    <tr>
      <td><%= library.name %></td>
      <td><%= library.address %></td>
      <td><%= link_to 'Show', library_path(library) %></td>
      <td><%= link_to 'Edit', edit_library_path(library) %></td>
      <td><%= button_to 'Delete', library_path(library), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Library', new_library_path %>
</body>
</html>