<h1>Links</h1>

<ul>
  <li><%= link_to 'Authors', author_index_path %></li>
  <li><%= link_to 'Books', book_index_path %></li>
  <li><%= link_to 'Genres', genre_index_path %></li>
  <li><%= link_to 'Libraries', library_index_path %></li>
  <li><%= link_to 'Card readers', map_reader_index_path %></li>
  <li><%= link_to 'Users', user_index_path %></li>
  <li><%= link_to 'Sign in', "sign_in" %></li>
  <li><%= link_to 'Sign up', "sign_up" %></li>
  <li><%= link_to 'Sign out', "sign_out" %></li>
</ul>