<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
</head>

<body>
<h1>Authors</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Bio</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @author.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.surname %></td>
      <td><%= author.bio %></td>
      <td><%= link_to 'Show', author_path(author) %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= button_to 'Delete', author_path(author), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table><br>
<%= link_to 'New Author', new_author_path %>
</body>
</html>