<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
      /* Email styles need to be inline */
  </style>
  <link rel="stylesheet" href="application.css">
</head>

<body>
<h1>Card Readers</h1>

<table>
  <thead>
  <tr>
    <th>Library ID</th>
    <th>User ID</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @map_reader.each do |map_reader| %>
    <tr>
      <td><%= map_reader.library_id %></td>
      <td><%= map_reader.user_id %></td>
      <td><%= link_to 'Show', map_reader_path(map_reader) %></td>
      <td><%= link_to 'Edit', edit_map_reader_path(map_reader) %></td>
      <td><%= button_to 'Delete', map_reader_path(map_reader), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table><br>
<%= link_to 'New Card Reader', new_map_reader_path %>
</body>
</html>